# PyCharm
.idea/
*.iws
*.ipr
*.iml
# venv created by IntelliJ
venv

*.pyc
logs
last_test_dir
upgrade
html/
doxygen/doxypy-0.4.2/
# src/ created by 'pip install -r requirements.txt' for git sources
src/

# pipenv
.venv/
Pipfile
Pipfile.lock

# for people maintaining the py2 and py3 tests
.venv3/
