# See python driver docs: futures and six have to be installed before
# cythonizing the driver, perhaps only on old pips.
# http://datastax.github.io/python-driver/installation.html#cython-based-extensions
futures
six
-e git+git@github.com:datastax/python-driver.git@cassandra-test#egg=cassandra-driver
-e git+git@github.com:riptano/python-dse-driver.git@dse-test#egg=dse-driver
ccm==3.1.4
cql
decorator
docopt
enum34
flaky
mock
nose
parse
psutil
pycassa
pycodestyle==2.3.1
thrift==0.9.3
